body{
  margin: 110px ;
}
h1 {

}

h2 {
  color:black;
  text-align: center;
  font-family: Montserrat; 
  font-size: 60px; 
  font-weight: 700;
}

h3 {
  color:black;
  font-family: Calibri; 
  font-size: 26px; 
  font-weight: 700;
}
p{
  color:black;
  font-family: Calibri; 
  font-size: 24px; 
  font-weight: 400;
}

ul li{
  color:black;
  font-family: Calibri; 
  font-size: 24px; 
  font-weight: 400;
}


.header-container {

}

.header-background-img {

}

.header-text {

}

.body-text {

}

.logo {

}

.logo-item {

}

.main-footer{

}

.footer-nav {

}
.inline-list {
